p{
    color:black;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(199, 209, 206);
    
}


h1{
    color: black;
    font-size:larger;
    text-align: center;
    align-items: center;
}